/*
* Form Controls CSS Style sheet for IMLS. Copyright 2012, TranXecure Inc.
*/

@charset "utf-8";

/* Standard HTML Form Controls */

.formrow{ margin:5px; list-style:none; }

.formlabel{ line-height: 20px; text-align: left; }

.formcontrol{ }

.formButtons{ }

input.button {
	height:20px; border: 1px solid #111; font: 11px 'Arial', 'Helvetica'; font-weight: bold; 
	background-color: #F6F6F6; color:#780000;
}

input.button:hover { background-color: #FFF; color:#780000}

input.textbox, textarea.textbox {
	font: 12px 'Arial', 'Helvetica';
	width: 200px; 
	background-color: #F6F6F6; 
	border: 1px solid #111;
	padding: 2px 3px 2px 3px;
}

input.textbox:focus, textarea.textbox:focus { background-color: #FFF; border-color: #FF6000;}

textarea.textbox { height: 50px; }
