/*
* Master CSS Style sheet for IMLS. Copyright 2012, TranXecure Inc.
*/

@charset "utf-8";

body{
	background-color:#EEE;
	margin:0; padding:0;
	font-family:Verdana, Geneva, sans-serif;
	color:#000;
	font-size:12px;
}

/* BEGIN >>> PAGE STRUCTURE */
.pagewrapper{
	border:1px solid #000;
}

.header{ margin-bottom: 0; }

.topbar{
	position:relative;
	background:#000; height:150px; width: 960px;
}

.topbar .imls{
	position:absolute;
	bottom:10px; padding-left:10px;
	color:#FFF; font-size:36px; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

.topbar .imls sup{ font-size:18px; }

.pagebody{ padding: 2px 5px; }

#navbar{
	background:#FF6805; height:31px;
	border-bottom: 1px solid #EA5D00;
}

.footer{ background:#000; color:#FFF; width: 960px !important; }

.footerbar{ background:#000; height:35px; }

.footerbar ul#footerlist{ list-style:none; }

.footerbar ul#footerlist li{float: left; line-height: 40px; padding:0 7px; }

.footerbar #footerright{ float:right; padding-right:10px; line-height:40px; }

/* END <<< PAGE STRUCTURE */

/* BEGIN >>> AUTHENTICATION BOX */
#authbox{
	margin-left: auto; margin-right: auto;
	margin-top: 15px;margin-bottom: 15px;
	width:350px; color: #000; border: 1px solid #000;
	font-family:Verdana, Geneva, sans-serif;
}

#authcap{
	height:40px; width:100%;
	background:#000; color: #049DCD;
}

#authcap .authcaption{
	float:right; padding:15px 5px 0 0; line-height:20px;
	font-weight:bold; font-size:18px; color: #049DCD;
}

#authbox #info{
	margin:10px; line-height:20px;
	font-size:12px; font-style:normal; font-weight:normal; text-align:center;
}

/* END <<< AUTHENTICATION BOX */

/* BEGIN >>> TITLE HEADERS */
.titleheader{
	padding:15px 5px 0 0; line-height:25px;
	font-weight:bold; font-size:18px; color: #049DCD;
}
/* END <<< TITLE HEADERS */

/* BEGIN >>> TABULAR UL LAYOUT */
.ultrow{ margin:5px; list-style:none; }

.ulthead, .ultdata{ line-height: 25px; text-align: left; }

.ulthead{
	background:#D4EEF7; font-family:Verdana, Geneva, sans-serif;
	font-weight:bold; font-size:14px;
	color:#000; padding:3px; padding-left:7px;
}

.ultdata{ }

.ulborder1{ border-bottom: 1px dashed #CCC; }
/* END <<< TABULAR UL LAYOUT */

/* BEGIN >>> FLASH MESSGAE ITEMS */
.normalinfo, .warninginfo, .errorinfo { margin:2px; padding:3px 3px 3px 10px; font:12px/25px Verdana, Geneva, sans-serif; }

.normalinfo{ border: 1px solid #51E04B; background: #A5EFA2; }

.warninginfo{ border: 1px solid #FF6000; background: #FFCCAD; }

.errorinfo{border: 1px solid #FD474C; background: #FEACAE; }
/* END <<< FLASH MESSGAE ITEMS */

.bordered { border:1px solid #000; }
.borderedgray { border:1px solid #CCC; }
.bold{font-weight:bold;}
p.br{ margin:0; padding:0; }